.header{
    display:flex;
    width: 100%;
    height:104px;
    padding: 16px 128px 0px 128px;
    gap: 16px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
    background: #FFE5F1;
}
.divide{
    display:flex;
    width: 1,598px;
    height: 72px;
    gap: 32px;
    opacity: 0px;
}
.logo img{
    width:843.96px;
    gap: 8px;
    opacity: 0px;
}
.div1{
    display:flex;
    text-align:center;
    margin-top:20px;
    width: 329px;
    height: 21px;
    gap: 32px;
    opacity: 0px;
    rotate: -0.11 deg;
}
.div1 a{
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    text-align: left;
}
.div2{
    width: 335px;
    height: 55px;
    top: 898px;
    margin-left: 169px;
    gap: 0px;
    opacity: 0px;
}
.div3{
    display:flex;
    width:221px;
    margin-top:5px;
    height: 48px;
    gap: 12px;
    opacity: 0px;

}
.b1{
    width: 72px;
height: Fixed (48px)px;
padding: 0px 16px 0px 16px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
font-family: DM Sans;
font-size: 16px;
font-weight: 500;
line-height: 20.83px;
text-align: center;
color: #1D4ED8;
background:white;
border-color: transparent;
}