.container{
  background-color: white;
  width:100%;
  margin:0;
}
.container-small {
  margin-left:50px;
  margin-top:0px;
  height:auto;
}
.small-image {
  max-width: 150px; 
  height: auto;
}
.history-container {
  margin-left:100px;
  width:400px;
  background-color: #f8f9fa;
  padding: 20px; 
  border: 1px solid #ddd; 
}
.history-container1{
  margin-left:200px;
  width:400px;
  background-color: #f8f9fa;
  padding: 20px; 
  border: 1px solid #ddd; 
}